body{
    background-color: rgb(32, 122, 92);
   
}

main{
background-color: white;
width: 400px;
height: 450px;
margin: 0 auto;
align-items: center;
border-radius: 10px;
}
h1{
background-color: rgb(34, 110, 84);
text-align: center;
color: white;
height: 70px;
padding-top: 30px;

}
.ip1{
    display: flex;
    justify-content: center;
    

}
input{
    width: 300px;
    height: 40px;
    margin-left:0px
    border-radius: 4px;
   
}

.ip2{
    display: flex;
    justify-content: center;
    

}

.i1{
    background-color: rgb(7, 104, 72);
    width: 50px;
    margin-left:0px;
    
}

.i2{
background-color: rgb(7, 104, 72);
    
    width: 50px;
    margin-left:0px;
}
.i1 img{
     width: 30px;
    margin-left:10px;
    margin-top: 5px;
    text-align: center;
    align-items: center;
    
}
.i2 img{
     width: 30px;
    margin-left:10px;
    margin-top: 5px;
    margin-left:10px;
    text-align: center;
    align-items: center;
}
button{
    background-color: rgb(7, 104, 72);
    width: 350px;
    height: 40px;
    margin: 20px;
    color: white;
    
}
.p1 a{
    color: rgb(7, 104, 72);
    margin-left: 20px;
    font-size: large;   

}
.p2 a{
  color: rgb(7, 104, 72);
    margin-left: 20px;
    font-size: large;    
}
.p2{
    font-size: large;
 margin-left: 20px;
 color: black;
    
    
}

