.flex-item1{
    width: 325px;
    height: 498px;
    background-color: white;
    border-radius: 8px;
    margin-top: 70px;

}
.flex-item2{
    width: 350px;
    height: 510px;
    background-color: white;
    border-radius: 8px;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    

}
.conteneur{
    display: flex;
    background-color: rgb(63, 63, 252);
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: auto;
    padding: auto;
}
h1{
    text-align: center;
    color: rgb(8, 8, 8);
    font-family: 'Times New Roman', Times, serif;
}
h2{
    text-align: center;
    color: rgb(8, 8, 8);
}
input{
    border-radius: 8px;
    margin-bottom: 10px;
    width: 300px;
    height: 40px;

}
a{
    text-align: center;
    color: rgb(53, 53, 252);
}
p{
   
  font-size:small;
  
 
}
button{
    background-color: rgba(4, 48, 105, 0.767);
    border-radius: 8px;
    margin-bottom: 5px;
    width: 300px;
    height: 40px;
    justify-content: center;
}
.button button{
    background-color: white;
    margin-bottom:  auto;
    padding: auto;
    width: 300px;
    height: 40px;
    text-align: center;
     gap: 30px;
     justify-content: flex-start;
     display: flex; 
     text-decoration-line:none; 
     flex-direction: row; 
}
hr{
   
    width: 100px;
}
.hr{
   margin-top: 10px; 
}
.or{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    
}
.or p{
    font-size: 20px;
}
img{
    width: 30px;
    height: 30px;
    margin: 0;
}
.button{
    display: flex;
    flex-direction: row;
     gap: 10px;
     justify-content: center;
     margin-left:10px;
     
}